<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>

    <div class="box">
        <% for (let i=0; i<newListItems.length; i++) { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input name="checkbox" value="<%= newListItems[i].id %>" type="checkbox" onchange="this.form.submit()">
                    <p>
                        <%=  newListItems[i].name  %>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle%>"></input>
            </form>
            <% } %>

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="Add Task" autocomplete="off">
                    <button type="submit" name="list" value="<%= listTitle %>">+</button>
                </form>
    </div>

    <%- include("footer") -%>